// out: ./style.css, compress: true, sourceMap: false
@import "normalize.css";
@import "rem.less";
@import "fontello.css";



/* fonts */
/* nanum square - regular */
@font-face {
    font-family: 'NanumSquare';
    src: url('../font/nanumsquarer.eot');
    src: url('../font/nanumsquarer.eot?#iefix') format('embedded-opentype'), url('../font/nanumsquarer.woff2') format('woff2'), url('../font/nanumsquarer.woff') format('woff'), url('../font/nanumsquarer.ttf') format('truetype'), url('../font/nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: 400;
}
/* nanum square - bold */
@font-face {
    font-family: 'NanumSquare';
    src: url('../font/nanumsquareb.eot');
    src: url('../font/nanumsquareb.eot?#iefix') format('embedded-opentype'), url('../font/nanumsquareb.woff2') format('woff2'), url('../font/nanumsquareb.woff') format('woff'), url('../font/nanumsquareb.ttf') format('truetype'), url('../font/nanumsquareb.svg#nanumsquarebregular') format('svg');
    font-weight: 800;
}

/* basic */
@min-width: 320px;
@myfont: "NanumSquare";
@img-url: "../images";
@header-height: 100px;

/* color */

@main:#0075bc;
@sub01:#333;
@sub02:#333;
@sub03:#333;
@white:#fff;
@black:#000;
@gray:#999;

/* mixin */
.bold {
    font-weight: 800;
}

.normal {
    font-weight: 400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.hidden {
    overflow: hidden;
}

.none {
    display: none;
}

.no-list {
    list-style: none;
}

.mapazero {
    margin: 0;
    padding: 0;
}

.zero {
    font-size: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-item: center;
    -webkit-justify-content: center;
}

.full {
    width: 100%;
    height: 100%;
}

.full-position {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pointer {
    cursor: pointer;
}

.pagenation {
    .inline-block;
    .center;
    .zero;
    .rem(margin, 20 0 30);
    width: 100%;

    a {
        background: @white;
    }

    a,
    strong {
        .inline-block;
        .top;
        .rem(font-size, 10);
        color: #555;
        border: 1px solid #e2e2e2;
        .rem(width, 22);
        .rem(height, 22);
        .rem(line-height, 22);
        .rem(margin, 0 1);
        @media all and (min-width: 1200px) {
            font-size: 14px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin: 0 2px;
        }

        &.jump,
        &.move {
            .zero;
            i {
                .rem(font-size, 10);
                @media all and (min-width: 1200px) {
                    font-size: 14px;
                }

            }
        }

        &.jump {
            width:auto;
            background:#efefef;

            .rem(padding, 0 10);
            i {
                &::before {
                    .mapazero;
                    width:auto;
                }
            }
        }
    }

    .active,
    strong {
        background: @main;
        color: @white;
        .normal;
        border-color: transparent;
    }
}


.box-sizing (@type:border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.drop-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.text-shadow (@string:0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.opacity (@opacity) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.gradient (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @ingColor, @endColor);
}

.gradienth (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(left, @startColor, @ingColor, @endColor);
}

.ani(@time:0.1s) {
    -webkit-transition: all @time ease;
    -moz-transition: all @time ease;
    -o-transition: all @time ease;
    -ms-transition: all @time ease;
    transition: all @time ease;
}

.container(@con-width) {
    .relative;
    .inline-block;
    margin: 0 auto;
    width: @con-width;
    height: 100%;
}

.header-default() {
    .inline-block;
    .top;
    .mapazero;
}

.blur(@blur) {
    filter: blur(@blur);
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder(@size, @color) {
    .runChecks() when not (isunit(@size, px)) {
        .rem(font-size, @size);
    }

    .runChecks() when (isunit(@size, px)) {
        font-size: @size;
    }

    &::-webkit-input-placeholder {
        .runChecks();
        color: @color;
    }

    &:-moz-placeholder {
        .runChecks();
        color: @color;
    }

    &::-ms-input-placeholder {
        .runChecks();
        color: @color;
    }
}

.full-background(@background) {
    .block;
    margin: 0;
    width: 100%;
    height: 100%;
    background: @background;
}
@keyframes fade {
    from {
        background: rgba(0, 0, 0, 0.3);
    }

    to {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes heights {
    to {
        height: auto;
    }
}
/* header */
* {
    .box-sizing;
}


input,
select,
textarea {
    .border-radius(0);
/*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}


a {
    text-decoration: none;
    color: #333;
}
/*font*/
html {
    min-width: @min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}

@media (max-width:360px) {
    html {
        font-size: 14px;
    }
}
@media (min-width:361px) and (max-width:480px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:481px) {
    html {
        font-size: 22px;
    }
}
@media (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: @myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
    .mapazero;
}

.sr-only {
    .absolute !important;
    .hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    .static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}


/* style */

body.cmslogin {
    background:url("../images/login-bg.jpg") no-repeat center / cover;
    .flex;
    .absolute;
    .full-position;

    fieldset {
        border-color:#fff;
        width:520px;
        height:560px;
        background:rgba(0,0,0,0.4);
        .flex;







        h1 {

            .inline-block;
            .mapazero;
            .center;
            color:@white;
            width:100%;
            height:180px;
            font-size:36px;

            &::before {
                content:"";
                .block;
                .zero;
                background:url("../images/logo.svg") no-repeat center / 100% auto;
                width:180px;
                height:72px;
                margin:60px auto 20px;
                .opacity(0.6);
            }

        }

        label {
            .none;
        }

        input {
            width:346px;
            line-height:70px;
            border-radius:8px;
            border:none;
            margin:0 auto 4px;
            background:#171a21;
            .inner-shadow(0,2px, 3px, 3px, 1);
            .center;
            font-size:16px;
            color:#fff;
        }

        button {
            width:346px;
            line-height:70px;
            border:none;
            border-radius:8px;
            margin:0 auto;
            .gradient(#167c95, #136f86, #116277);
            border-top:1px solid #fff;
            color:#fff;
            font-size:16px;
            margin-top:10px;
            .bold;
            .inner-shadow(0,-2px, 1px, 1px, 0.4);
        }
    }
}
  
body.layout {
    min-width:1000px;

    .container {
        .container(100%);
        padding: 0;
    }

    /* header */
    header {
        .zero;
        .relative;
        height:50px;



        &.theme01 {
            background:#f7b900;
        }
        &.theme02 {
            background:#B5945E;
        }
        &.theme03 {
            background:#91bc00;
        }
        &.theme04 {
            background:#00c2e8;
        }
        &.theme05 {
            background:#6464FF;
        }
        &.theme06 {
            background:#ff7f00;
        }

        div.video {
            .absolute;
            .full-position;
            .hidden;

            video {
                .none;
                .absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: -100;
                -ms-transform: translateX(-50%) translateY(-50%);
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                background-size: cover; 
            }
    
        }


        h1  {
            .absolute;
            left:0;
            top:0;
            width:100px;
            height:50px;
            line-height:50px;
            z-index:1000;
            .inline-block;
            .mapazero;
            .center;
            font-size:16px;
            color:@white;


                &.theme01 {
                    background:#f7b900;
                }
                &.theme02 {
                    background:#B5945E;
                }
                &.theme03 {
                    background:#91bc00;
                }
                &.theme04 {
                    background:#00c2e8;
                }
                &.theme05 {
                    background:#6464FF;
                }
                &.theme06 {
                    background:#ff7f00;
                }


                small {
                    .none;
                    margin:6px 10px 0 0;
                    .zero;
                    width:70px;
                    height:28px;
                    background:url("../images/logo.svg") no-repeat center / 100% auto;
                }
            }

            div.navigation {
                .relative;
                .inline-block;
                .top;
                background:rgba(0,0,0,0.6);
                width:100%;
                height:50px;
                padding:4px 0 0 120px;
                

                ul {
                    .inline-block;
                    .relative;
                    .mapazero;
                    .no-list;
                    .zero;
                    z-index:10;

                    li {
                        .inline-block;
                        line-height:1;
                        .relative;
                        .top;
                        height:48px;
                        padding:0 50px 0 0;

                        a {
                            color:#fff;
                        }

                        i {
                            font-size:14px;
                            .absolute;
                            right:14px;
                            top:12px;
                            color:@white;
                            .opacity(0.6);
                        }

                        &.home {
                            padding:0 30px 0 58px;
                            a {
                                .block;
                                .absolute;
                                left:0;
                                top:0px;
                                width:36px;
                                height:36px;
                            }
                                
                            &.theme01 {
                                a {
                                    background:url("../images/home01.svg") no-repeat center / 100% auto;
                                }
                            }
                            &.theme02 {
                                a {
                                    background:url("../images/home02.svg") no-repeat center / 100% auto;
                                }
                            }
                            &.theme03 {
                                a {
                                    background:url("../images/home03.svg") no-repeat center / 100% auto;
                                }
                            }
                            &.theme04 {
                                a {
                                    background:url("../images/home04.svg") no-repeat center / 100% auto;
                                }
                            }
                            &.theme05 {
                                a {
                                    background:url("../images/home05.svg") no-repeat center / 100% auto;
                                }
                            }
                            &.theme06 {
                                a {
                                    background:url("../images/home06.svg") no-repeat center / 100% auto;
                                }
                            }


                        }

                        &.depth1 {
                            font-size:20px;
                            padding-top:8px;
                        }

                        &.depth2 {
                            font-size:20px;
                            padding-top:8px;
                        }

                        &:last-child {
                            i {
                                .none;
                            }
                        }
                    }
                }
            }

            button.all-menu {
                .absolute;
                z-index:1100;
                right:10px;
                bottom:8px;
                background:none;
                border:1px solid rgba(255,255,255,0.4);
                padding:7px 20px;
                border-radius:12px;
                .pointer;
                font-size:17px;
                color:@white;

                i {
                    margin-right:4px;
                }

            }

            nav#main-menu {
                .relative;
                z-index:900;
                background:#222;
                max-height:50px;
                min-height:50px;
                .hidden;
                .ani();

                &::before {
                    content:"";
                    .block;
                    .absolute;
                    left:0;
                    right:0;
                    top:50px;
                    bottom:0;
                    background:#222;
                }

                &.active {
                    max-height:1000px;
                    .absolute;
                    left:0;
                    right:0;
                    .ani();
                    .drop-shadow();
                }
                
                &>ul {
                    .mapazero;
                    .no-list;
                    .inline-block;
                    width:100%;
                    line-height:50px;

                    &>li {
                        .top;
                        .inline-block;
                        .relative;
                        &>a {
                            .block;
                            .center;
                            width:170px;
                            font-size:18px;
                            color:@white;

                            &.active {
                                background:#555;
                            }
                        }

                        &.home {
                            &>a {
                                width:100px;
                                background:#111;
                            }
                        }

                        ul {
                            .no-list;
                            .mapazero;
                            font-size:16px;

                            border-left:1px solid #555;
                            line-height:1;


                            li {
                                a {
                                    .block;
                                    padding:20px;
                                    color:@white;
                                    .ani();

                                    &:hover {
                                        background:#000;
                                        padding:20px 20px 20px 26px;
                                        .ani();
                                    }
                                }
                            }



                        }

                    }
                }

                button {
                    .none;
                }
            }

        &.fix {
            .fixed;
            left:0;
            right:0;
            top:0;
            z-index:2000;
            height:50px;

            h1  {
                .absolute;
                left:0;
                top:0;
                width:200px;
                height:50px;
                line-height:50px;
                z-index:1000;
                small {
                    .inline-block;
                    margin:6px 10px 0 0;
                }
            }

            video {
                .none;
            }

            .navigation {
                .none;
            }

            button.all-menu {
                top:10px;
                z-index:100;

                i {
                    font-size:32px;
                }
            }

            nav#main-menu {
                .absolute;
                right:0;
                left:0;
                top:0;
                padding-left:200px;
                background:#222;


            }
        }

    }

    #header.fix + div#content {

        aside {
            .relative;
            z-index:400;
            
            ul.depth0 {
                .fixed;
                top:50px;
                left:0;
                width:100px;
            }
            
            ul.util {
                .fixed;
                top:698px;
                left:0;
                width:100px;
            }
        }
    }

    &.intro {

        #header {
            height:260px;
            h1 {

                width:100%;
                height:260px;
                font-size:36px;
                background:rgba(0,0,0,0.5);

                small {
                    .block;
                    width:180px;
                    height:72px;
                    margin:70px auto 20px;
                    .opacity(0.6);
                }

                &::before {
                    content:"";
                    .block;
                    .absolute;
                    left:50%;
                    top:30px;
                    margin-left:-200px;
                    width:400px;
                    height:200px;
                    border:1px solid rgba(255,255,255,0.4);
                }
            }

            button.all-menu {
                right:20px;
                bottom:20px;
                padding:10px 20px;
                border-radius:12px;
                .pointer;
                font-size:17px;
                color:@white;

                i {
                    margin-right:4px;
                }

            }

            div.video {
                video {
                    .block;
                }
            }
        }
    }

    &.intro #header + div#content {
        margin-top:0 !important;
    }

    div#content {

        margin-top:50px;
        background:#ebebeb;
        .zero;


        fieldset.tools {
            line-height:1;
            .mapazero;
            border:none;
            .absolute;
            right:0;
            top:0;
            font-size:14px;

            input,
            button {
                border:1px solid #ccc;
                border-radius:5px;
                line-height:36px;
                padding:0 5px;
            }

            input {
            }

            button {
                background:#f4f4f4;

                &.submit {
                    border:1px solid #333;
                    background:#555;
                    color:#fff;
                }

                i {
                    margin-right:4px;

                    &.icon-file-pdf {
                        color:red;
                    }

                    &.icon-doc-text {
                        color:#0075bc;
                    }
                }
            }

            div {
                .inline-block;
            }

            u {
                text-decoration:none;
                line-height:36px;
                padding:0 5px;
            }


        }
        aside {
            .inline-block;
            width:100px;
            font-size:16px;

            ul.depth0 {
                .inline-block;
                .mapazero;
                .no-list;
                width:100%;

                li {
                    .relative;

                    a {
                        .block;
                        .center;
                        padding:20px 0;
                        background:#f4f4f4;
                        height:108px;

                        i {
                            .block;
                            color:#aaa;
                            font-size:42px;
                            width:100%;
                        }

                        &:hover,
                        &.active {
                            background:#333;
                            color:@white;

                            i {
                                &.icon-icon01 {
                                    color:#f7b900;
                                }
                                &.icon-icon02 {
                                    color:#B5945E;
                                }
                                &.icon-icon03 {
                                    color:#91bc00;
                                }
                                &.icon-icon04 {
                                    color:#00c2e8;
                                }
                                &.icon-icon05 {
                                    color:#6464FF;
                                }
                                &.icon-icon06 {
                                    color:#ff7f00;
                                }
                            }
                        }

                    }

                    p {
                        .inline-block;
                        .mapazero;
                        white-space:nowrap;
                        z-index:600;
                        background:#000;
                        .absolute;
                        left:100px;
                        max-width:0;
                        line-height:108px;
                        top:0;
                        height:108px;
                        padding:0;
                        .ani(0.2s);
                        .hidden;
                        color:@white;
                        border-radius:0 20px 20px 0;
                        .opacity(0);

                        &::before {
                            content:"";
                            .absolute;
                            z-index:700;
                            .block;
                            left:-0px;
                            top:44px;
                            border:10px solid transparent;
                            border-left-color:#333;
                        }
                    }

                    a:hover + p {
                        padding:0 30px;
                        max-width:2000px;
                        .opacity(1);
                        .ani(0.2s);
                    }

                }
            }

            ul.util {
                margin:0;
                .no-list;
                padding:20px 10px;
                font-size:14px;

                li {
                    padding-bottom:10px;

                    a {
                        .block;
                        .ani();
                        color:#555;

                        &:hover {
                            color:#000;
                            padding:6px 0 0 0;
                            .ani();
                        }
                    }
                }

            }
        }

        section.data {
            .inline-block;
            .top;
            background:#E0E0E0;
            width:calc(~"100% - 100px");
            min-height:calc(~"100vh - 184px");
            padding:20px;

            div.infotext {
                font-size:20px;
                margin:-30px -30px 30px;
                .center;
                padding:40px 20px 10px;
                color:#222;
            }

            div.content {
                background:@white;
                padding:20px;
                font-size:14px;
                border-radius:10px;
                margin:0 5px 20px;
                .drop-shadow();
            }

            div.dashboard {

                div.grid-line {
                    margin-bottom:20px;
                    white-space:nowrap;
                    div.grid {
                        .top;
                        .inline-block;
                        white-space:normal;
                        background:@white;
                        padding:20px;
                        font-size:14px;
                        border-radius:10px;
                        min-height:300px;
                        .drop-shadow();
                        margin:0 5px;
                        .center;

                        &.num01 {
                            width:calc(~"(100% - 120px) / 12");
                        }

                        &.num02 {
                            width:calc(~"(100% - 60px) / 6");
                        }

                        &.num03 {
                            width:calc(~"(100% - 40px) / 4");
                        }

                        &.num04 {
                            width:calc(~"(100% - 30px) / 3");
                        }

                        &.num06 {
                            width:calc(~"(100% - 20px) / 2");
                        }

                        h3 {
                            .normal;
                            .left;
                            .relative;
                            font-size:18px;
                            margin:-10px 0 10px;
                            border-bottom:1px solid #eee;
                            height:48px;
                            line-height:47px;

                            a.more {
                                .zero;
                                color:#999;

                                i {
                                    font-size:18px;
                                }
                            }
                        }


                    }
                }
            }


            p.copyright {
                font-size:14px;
            }
        }

    }

}
