// out: ./style.css, compress: true, sourceMap: false
@import "normalize.css";
@import "rem.less";
@import "pretendard.css";
@import "boxicons.css";




/* basic */
@min-width: 1200px;
@myfont: "Pretendard";
@img-url: "../images";
@header-height: 100px;

/* color */

@main:#0075bc;
@sub01:#333;
@sub02:#333;
@sub03:#333;
@white:#fff;
@black:#000;
@gray:#999;

/* mixin */
.bold {
    font-weight: 800;
}

.normal {
    font-weight: 400;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.hidden {
    overflow: hidden;
}

.none {
    display: none;
}

.no-list {
    list-style: none;
}

.mapazero {
    margin: 0;
    padding: 0;
}

.zero {
    font-size: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-item: center;
    -webkit-justify-content: center;
}

.full {
    width: 100%;
    height: 100%;
}

.full-position {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pointer {
    cursor: pointer;
}

.pagenation {
    .inline-block;
    .center;
    .zero;
    .rem(margin, 20 0 30);
    width: 100%;

    a {
        background: @white;
    }

    a,
    strong {
        .inline-block;
        .top;
        .rem(font-size, 10);
        color: #555;
        border: 1px solid #e2e2e2;
        .rem(width, 22);
        .rem(height, 22);
        .rem(line-height, 22);
        .rem(margin, 0 1);
        @media all and (min-width: 1200px) {
            font-size: 14px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin: 0 2px;
        }

        &.jump,
        &.move {
            .zero;
            i {
                .rem(font-size, 10);
                @media all and (min-width: 1200px) {
                    font-size: 14px;
                }

            }
        }

        &.jump {
            width:auto;
            background:#efefef;

            .rem(padding, 0 10);
            i {
                &::before {
                    .mapazero;
                    width:auto;
                }
            }
        }
    }

    .active,
    strong {
        background: @main;
        color: @white;
        .normal;
        border-color: transparent;
    }
}


.box-sizing (@type:border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.drop-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x:0, @y: 2px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.text-shadow (@string:0 1px 3px rgba(0, 0, 0, 0.25)) {
    text-shadow: @string;
}

.opacity (@opacity) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.gradient (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @ingColor, @endColor);
}

.gradienth (@startColor:#eee, @ingColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -moz-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -ms-linear-gradient(left, @startColor, @ingColor, @endColor);
    background: -o-linear-gradient(left, @startColor, @ingColor, @endColor);
}

.ani(@time:0.1s) {
    -webkit-transition: all @time ease;
    -moz-transition: all @time ease;
    -o-transition: all @time ease;
    -ms-transition: all @time ease;
    transition: all @time ease;
}

.container(@con-width) {
    .relative;
    .inline-block;
    margin: 0 auto;
    width: @con-width;
    height: 100%;
}

.header-default() {
    .inline-block;
    .top;
    .mapazero;
}

.blur(@blur) {
    filter: blur(@blur);
    -webkit-filter: blur(@blur);
    -moz-filter: blur(@blur);
    -o-filter: blur(@blur);
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.placeholder(@size, @color) {
    .runChecks() when not (isunit(@size, px)) {
        .rem(font-size, @size);
    }

    .runChecks() when (isunit(@size, px)) {
        font-size: @size;
    }

    &::-webkit-input-placeholder {
        .runChecks();
        color: @color;
    }

    &:-moz-placeholder {
        .runChecks();
        color: @color;
    }

    &::-ms-input-placeholder {
        .runChecks();
        color: @color;
    }
}

.full-background(@background) {
    .block;
    margin: 0;
    width: 100%;
    height: 100%;
    background: @background;
}
@keyframes fade {
    from {
        background: rgba(0, 0, 0, 0.3);
    }

    to {
        background: rgba(0, 0, 0, 0.7);
    }
}
@keyframes heights {
    to {
        height: auto;
    }
}
/* header */
* {
    .box-sizing;
}


input,
select,
textarea {
    .border-radius(0);
/*
    @media all and (max-width: 1199px) {
        appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
*/
}


a {
    text-decoration: none;
    color: #333;
}
/*font*/
html {
    min-width: @min-width;
    max-width: 100%;
    font-size: 14px;
    min-height: 100%;
}

@media (max-width:360px) {
    html {
        font-size: 14px;
    }
}
@media (min-width:361px) and (max-width:480px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:481px) {
    html {
        font-size: 22px;
    }
}
@media (min-width:1200px) {
    html {
        font-size: 14px;
    }
}

body {
    font-family: @myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;
    .mapazero;
}

.sr-only {
    .absolute !important;
    .hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    clip: rect(0, 0, 0, 0) !important;
    border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    .static;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}


/* style */

body.cmslogin {
    background:url("../images/login_bg.jpg") no-repeat center / cover;
    .flex;
    .absolute;
    .full-position;

    fieldset {
        border: none;
        border-radius: 15px;
        width:520px;
        height:540px;
        box-shadow: 0.25px 0.25px 20px rgba(0,0,0,.2);
        .flex;
        .center;
        flex-direction:column;
        background: rgba(0, 0, 0, 0.05);

        h1 {
            .inline-block;
            .mapazero;
            .center;
            color: #0c2738;
            width:100%;
            font-size: 46px;
            margin:80px 0 40px;
            font-weight: 600;

            &::before {
                content:"";
                .block;
                .zero;
                background:url("../images/logo2.svg") no-repeat center / 80% auto;
                width:180px;
                height:72px;
                margin:40px auto 10px;
                
            }

        }

        label {
            .none;
        }

        input {
            .block;
            width:346px;
            height:60px;
            line-height:70px;
            border-radius:5px;
            border:none;
            margin:0 auto 4px;
            background:#3d6884;
            .inner-shadow(0,1px, 0.5px, 0.5px, 0.5);
            padding: 0 0 0 20px;
            font-size:16px;
            color:#fff;

            .placeholder(18px, #fff);

        }

        button {
            .inline-block;
            width:346px;
            line-height:60px;
            border:none;
            border-radius:5px;
            margin:0 auto;
            .gradient(#138bc9, #117dc1, #0f6db9);
            border-top:1px solid #fff;
            color:#fff;
            font-size:22px;
            margin-top:10px;
            .normal;
            .pointer;
            .inner-shadow(0,-1px, 1px, 1px, 0.4);
        }
    }
}

body.siteMap {
    background: url("../images/site-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    
    div#content {

        div.site {
           
            .container {
                width: 1200px;
                margin: 0 auto;
                padding: 0;
                .relative;

                div.s_logo {
                    padding-top: 15px;
                    .relative;

                    h1 {
                        .zero;
                        .absolute;
                        left: -30px;
                        width: 350px;
                        .absolute;
                        height: 45px;
                        .block;
                        .mapazero;
                        background:url("../images/bigdata.png") no-repeat center / 80% auto;
                    }
                }

                ul.util-menu {
                    .absolute;
                    right: 0;
                    top: 15px;
                    .no-list;
                    .mapazero;

                    li {
                        .inline-block;
                        margin-left: 6px;
                        .top;
            
                        a {
                            .block;
                            .mapazero;
                            color:#fff;
                            border: 1px solid #fff;
                            background:#404040;
                            height: 45px;
                            line-height: 45px;
                            padding: 0 20px;
                            border-radius: 21px;
                            font-size: 16px;
                            .pointer;
                            box-shadow: 0px 2px rgba(0, 0, 0, 0.08);
            
                            &:hover {
                                background:#fff;
                                color:#333;
                            }

                            i {
                                font-size: 15px;
                                margin-right: 5px;
                                .top;
                            }
                        }
                    }
                }

                div.menu {
                    .mapazero;
                    .no-list; 
                    margin-top: 80px;

                    div.menu-wrap {
                        .relative;
                        padding-left: 130px;
                        margin-bottom: 30px;
                        
                        h2.title {
                            .absolute;
                            z-index: 999;
                            left: 0;
                            margin: 0;
                            .flex;
                            width: 130px;
                            height: 100%;
                            color: #ffffff;
                            font-size: 22px;
                            box-shadow: 0px 4px rgba(0, 0, 0, 0.08);

                            img {
                                .absolute;
                                top: 8px;
                                left: 8px;
                                z-index: -1;
                            }

                            &.n1 {
                                background: #F7B900;
                            }
    
                            &.n2 {
                                background: #B5945E;
                            }
        
                            &.n3 {
                                background: #91BC00;
                            }
        
                            &.n4 {
                                background: #00C2E8;
                            }
        
                            &.n5 {
                                background: #6464FF;
                            }
        
                            &.n6 {
                                background: #FF7F00;
                            }
                        }

                        dl {
                            .inline-block;
                            .zero;
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            background: #ffffff;
                            box-shadow: 0px 4px rgba(0, 0, 0, 0.08);
    
                            &::before {
                                content: "";
                                .block;
                                clear: both;
                            }

                            dt {
                                .relative;
                                z-index: 99;
                                color: #222222;
                                font-weight: 600;
                                float: left;
                                .left;
                                padding: 14px 0 0 10px;
                                width: 160px;
                                font-size: 17px;
                                border-top: 0.5px solid #ccc;

                                &:nth-of-type(1) {
                                    border-top: none;
                                }

                                small {
                                    .block;
                                    margin-top: 3px;
                                    font-size: 14px;
                                }

                                i {
                                    .absolute;
                                    top: 14px;
                                    right: 10px;
                                    font-size: 14px;
                                    color: #BBBBBB;
                                }
                            }
            
                            dd {
                                .relative;
                                .block;
                                .mapazero;
                                width: 100%;
                                border-top: 0.5px solid #ccc;
                                border-left: 0.5px solid #ccc;
                                padding-left: 160px;
                                min-height: 68px;

                                &::before {
                                    content:"";
                                    .block;
                                    .absolute;
                                    left: 0;
                                    top: 0;
                                    bottom: 0;
                                    background-color:#f2f2f2;
                                    width: 160px;
                                }

                                &:nth-of-type(1) {
                                    border-top: none;
                                }

                                ul {
                                    .left;
                                    .mapazero;
                                    .no-list;
                                    width: 100%;
                                    padding: 14px 0 14px 20px;

                                    li {
                                        .inline-block;
                                        margin-bottom: 8px;

                                        a {
                                            .inline-block;
                                            font-size: 15px;
                                            margin-right: 14px;
                                            color: #555555;

                                            &:hover {
                                                text-decoration: underline;
                                                color: #222;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.intro {

    background:url(../images/background.png) no-repeat #111111 center top / auto 100%;

    div#content {
        section.intro {

            .center;

            div.container {

                .container(1200px);
                padding: 0;
    
                h1 {
                    .center;
                    font-size:44px;
                    color:#fff;

                    small {
                        .block;
                        .zero;
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='122.82' height='47.93' viewBox='0 0 122.82 47.93'%3E%3Cg id='그룹_4' data-name='그룹 4' transform='translate(-657 -73.263)'%3E%3Cg id='그룹_3' data-name='그룹 3' transform='translate(657 73.263)'%3E%3Cg id='그룹_2' data-name='그룹 2' transform='translate(0 0)' opacity='0.5'%3E%3Cg id='그룹_1' data-name='그룹 1'%3E%3Cpath id='패스_4' data-name='패스 4' d='M195.449.189a.319.319,0,0,0-.221-.111c-.369-.074-.7.184-1.254.627l-.406.3c-1.476.775-2.582,4.427-2.84,5.939-.037.037-.074.037-.148.074A6.444,6.444,0,0,0,186.3,3.8c.664,2.619,2.951,10.44,6.013,9.776,1.549-.332,4.8-6.861,4.8-10.44V2.993C197.109,1.075,196.223.411,195.449.189Z' transform='translate(-117.538 -0.066)' fill='%23fff'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M249.172,108.745c-3.837.148-5.091-.037-8.817,1.18a3.194,3.194,0,0,0-1.4,1c.074.775-.406,2.029.332,2.324.037,0,.037.111.074.184.221.221.443.258.664.516.148.184.258-.037.406.074.074.074.111.184.184.221.369.184.7.111,1.07.3.184.148.369.111.553.148.111-.037.258.221.3.3a4.708,4.708,0,0,0,2.029.037c2.1-.037,1.734-.258,3.837-.258,1.771-.037,3.541.258,5.312.221.959-.037,2.029,0,2.988-.074,1.7-.111,3.431.148,5.128.184.848-.037,1.844.332,2.693.369a13.834,13.834,0,0,1,2.767-.037,2.436,2.436,0,0,1,.885.111,1.953,1.953,0,0,0,.848.3,5.52,5.52,0,0,0,2.361-.553,5.436,5.436,0,0,0,1.365-.48,1.354,1.354,0,0,0,.516-.812,3.029,3.029,0,0,0,.148-2.066c-.037,0-.148.037-.184,0-.074-.111-.074-.406-.184-.443a4.707,4.707,0,0,0-1.033-.258c-.443-.111-.922-.3-1.365-.406C268.5,110.257,256.4,108.45,249.172,108.745Z' transform='translate(-150.714 -68.475)' fill='%23fff'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M61.358,109.885c.369.074.812.074,1.033.332.221.184-.221.516-.184.775,0,.627.221,1.217.221,1.844a.451.451,0,0,1-.148.332,1.852,1.852,0,0,1-.48.443c-.516.332-1.217.221-1.844.406a13.823,13.823,0,0,1-2.472.406,29.417,29.417,0,0,1-4.39-.221,4.121,4.121,0,0,0-1.66.221,7.7,7.7,0,0,1-2.066.148c-3.578-.111-7.083-.221-10.661-.184-.627.037-1.291.111-1.918.111-2.877.148-5.718.111-8.6.184-1,.037-1.992.037-2.988.037-.553,0-1.107.037-1.623.037a61.942,61.942,0,0,1-6.419.111c-.812,0-1.7,0-2.508.037a66.431,66.431,0,0,1-7.157.369,12.1,12.1,0,0,1-5.017-1.328A6.494,6.494,0,0,1-.1,111.655a3.072,3.072,0,0,1,1.7-.922c1.586-.443,3.062-.7,4.685-1,1.365-.221,2.619-.332,3.91-.443a317.306,317.306,0,0,1,43.861-.443A43.014,43.014,0,0,1,61.358,109.885Z' transform='translate(0.1 -68.214)' fill='%23fff'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M240.9,57.046v.184c.148.406.443.48.775.775h1c0-.184.221,0,.221-.184a.9.9,0,0,0,.738-.406h.148a.807.807,0,0,1,.738-.48c.406-.48.812-1,1.217-1.476a.5.5,0,0,1,.258-.48,17.816,17.816,0,0,1,.812-2.73,4.535,4.535,0,0,0,.074-1c.074,0,.148,0,.148-.111a.785.785,0,0,1,.332-.775c.184,0,.332,0,.406-.184V50a1.621,1.621,0,0,1,1.18.7h.553c0,.184.111.184.221.3a4.989,4.989,0,0,1,1.808.111c0,.3.443.184.553.48a2.888,2.888,0,0,0,.332.885.337.337,0,0,1-.111.3c.221.3.443.775.111,1.07.111.406,0,.885.221,1.291-.221.184-.111.48-.111.7a5.278,5.278,0,0,1,.332,1.365c.443.48.332,1.07.627,1.586v.59c.221,0,0,.3.221.3a10.906,10.906,0,0,1-.221,1.881c-.111.111-.221.184-.332.3v.184c-.111,0-.221,0-.221-.111-.221.3-.516.48-.738.775-.221-.111-.332.111-.443.111-.221,0,0,.3-.221.3a1.088,1.088,0,0,0-.553.184c-.221.111-.959-.111-1.144.111l-.111-.111a.553.553,0,0,1-.443.184c0-.111,0-.184-.111-.184a.818.818,0,0,1-.848.406c-.111-.184-.037-.332-.3-.443a3.83,3.83,0,0,0-.406-1.7c.074,0,.074-.074.074-.184a2.982,2.982,0,0,1-.258-.812c-.258-.369-.332-.885-.664-1.144.074-.074-.148-.184-.074-.258-.148-.184-.258-.258-.406-.443-.148,0-.148.074-.258.184-.074.443-.48.812-.59,1.254l-.074-.074c-.074.258-.332.443-.332.7-.148.074-.258.369-.406.443V61.4c-.59.516-.885,1.4-1.586,1.771-.184.369-.59.443-.775.848a3.769,3.769,0,0,0-1,.221c-.221-.111-.516-.3-.738-.111,0-.111-.111-.111-.221-.111l-.111.111c-.221-.221-.553,0-.849-.111a13.12,13.12,0,0,0-2.14-1.144c-.221,0,0-.3-.221-.3a.407.407,0,0,1-.332-.111c0-.3.111-.516-.221-.738l.111-.111c0-.111-.111-.111-.221-.111-.111-.627-.443-1.144-.517-1.771l-.221-.221a1.754,1.754,0,0,0-.221-.812c-.111-.406.258-.738.074-1.144a.337.337,0,0,1,.111-.3,2.614,2.614,0,0,1,.111-1.291c-.111,0-.111-.111-.111-.184a2.25,2.25,0,0,0,.221-1.18c.111-.3.3-.59.406-.885l-.111-.111c.184-.184.111-.48.406-.7,0-.111,0-.184-.111-.184,0-.184.221-.3.3-.406.111-.184.48-.959.738-1.107l.037-.111a1.451,1.451,0,0,1,1-.406,2.691,2.691,0,0,1,.959.332c.111.221,0,.406.148.7h.148v.184c0,.111.074.111.148.111a1.872,1.872,0,0,1,.148.885c0,.111.074.111.148.111-.074.184.148.406.148.59-.148.184,0,.48-.074.775.221.48.148,1.07.369,1.586A2.436,2.436,0,0,0,240.9,57.046Z' transform='translate(-148.489 -31.493)' fill='%23fff'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M140.849,59.246a2.166,2.166,0,0,1,.516.443c.111.184.332.443.48.48a1.5,1.5,0,0,1,.406.221l.148.258.332.3c.369.111.406-.111.7.258.111,0,.221,0,.221.111l.111-.111c.111.221.332.3.48.406a1.2,1.2,0,0,1,.885.332c.111,0,.148.221.148.148.369.111.59.332.848.148.111,0,.221,0,.221.111l.111-.111c.221-.111.3.184.516.074.111,0,.111.111.111.221h.221c.221.221,1.217-.074,1.476.148a15.771,15.771,0,0,0,3.5-.148c0-.184.332,0,.332-.184l.111.111c.443.111.922-.406,1.365-.184a.978.978,0,0,0,.221-.184c.221-.074.553.332.775.037,0,.111.111.111.221.111V62.05c.332-.184.775-.148,1.033-.406.111,0,.332.037.443.037.111-.074.111-.074.258-.184.59-.148,1.07-.59,1.734-.738.111-.111.332-.148.406-.332.111,0,.221-.037.332-.037a2.387,2.387,0,0,0,.3-.332c.332.074.664-.406,1-.443,0-.111-.037-.184.074-.221l.111.074c.221-.148.221-.148.3-.332.332.037.553-.369.738-.627a.468.468,0,0,0,.221-.037.977.977,0,0,1,.184-.221.468.468,0,0,0,.221-.037c.3-.258.48-.59.885-.738-.037-.111-.037-.184.074-.221.258.074.184-.221.3-.332.111-.074.406-.3.48-.184,0,.148.3-.406.3-.258.074.111.48-.922.553-.959l-.922-2.435c-.332.48-1.586,2.1-2.25,2.25,0,.516-.553.553-.959.848.037.111.037.184-.074.221-.332.074-.48.443-.7.48-.037-.111-.111-.074-.258-.037-.074.111-.3.184-.369.406-.332.074-.443.406-.627.627l-.111-.074c-.406.369-.959.332-1.254.775-.627.3-1.18.406-1.844.664-.111,0-.221,0-.221-.074-.111.221-.553.037-.664.258a16.723,16.723,0,0,0-1.918.111c0-.184-.332.037-.369-.184-.553.221-1.107-.074-1.66-.074-.111-.111-.332-.111-.443-.3a1.25,1.25,0,0,1-1.217-.3c-.332,0-.553-.3-.885-.406V58.1a.979.979,0,0,0-.221-.184c0-.3.332-.3.553-.406.221-.3.848-.221,1.07-.516,0-.111.3-.3.3-.406.111-.184.184-.406.3-.406.332-.184.111-.443.553-.516,0-.111.369-.332.221-.443.443-.3.443-.48.553-1.07a1.9,1.9,0,0,0,.553-1.033c.111-.111-.037-.553.221-.627.111-.7-.184-1.07-.184-1.771a.978.978,0,0,0-.221-.184c0-.3-.221-.516-.111-.812-.332-.3-.258-.406-.59-.7l-.184-.184h-.221c-.111-.184-.443-.3-.443-.516a13.883,13.883,0,0,1-1.365-.59l-.111.111-.111-.111a.98.98,0,0,1-.221.184c0-.3-.332,0-.443-.184-.221,0-.443-.111-.664.111-.664-.221-1.4.148-2.066-.148,0,.184-.443-.111-.443.184-.221.111-.553.074-.664.184h-.332a1.763,1.763,0,0,1-1.291.664c-.221,0,0,.3-.221.3h-.221a9.56,9.56,0,0,1-1.7,1.512c0,.111-.221.184-.111.406,0,.111-.111.111-.221.111a.562.562,0,0,1-.221.406c0,.111,0,.184.111.184,0,.111-.184.369-.3.369-.111.406-.111.812-.443,1,0,.812-.221,1.18-.3,2.066a12.309,12.309,0,0,1,.111,1.586c.332.221-.074.184.148.516.111,0,.037.184.037.3.111.221.48.369.369.553,0,.111.184.184.3.184.111.221-.184.443.074.553,0,.111.369.037.258.221Zm7.3-6.493c-.221.111,0,.332-.221.406l.111.111a4.085,4.085,0,0,1-1.808,2.84c-.111,0-.221,0-.221-.111,0-.221-.221-.516-.111-.738,0-.111-.111-.111-.221-.111.221-.221-.148-.406-.037-.738-.111,0-.111-.111-.111-.221.332-.221.074-.775.406-.959l-.111-.111a2.437,2.437,0,0,1,.516-.738v-.221a5.158,5.158,0,0,1,1.623-.812c.111,0,.221,0,.221.111C148.522,51.905,148.264,52.311,148.153,52.754Z' transform='translate(-87.876 -30.043)' fill='%23fff'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M194.059,51.542c0,.148.037.3.037.406.775.738.627,2.029,1.144,2.914-.258.332-.074.7-.184,1a1.845,1.845,0,0,1,.3.258c-.221.738.3,1.365.221,2.066a1.85,1.85,0,0,1-.258.3c0,.148.037.258.184.258l-.111.148.148.111-.111.148c.148-.037.148.111.148.258-.258.3.221.664-.184,1,.148.111.148.258.184.406-.369.332-.148.922-.406,1.328l.148.148-.148.148-.148-.148c-.148,0-.148.148-.148.3.148.258.443.516.148.812l.148.148a1.953,1.953,0,0,0-.664,1.07,1.85,1.85,0,0,1-.258.3.439.439,0,0,1,.148.406c-.258.3-.369.553-.627.812,0,.148.148.406-.111.553l.148.111c-.111.258-.221.664-.369.959.111,0,.148.111.148.258-.369.3-.812.59-.664,1.107-.258.406-.553.553-.812.959.148.258-.443.369-.443.627s-.369.148-.258.406l.148.148h-.258a.8.8,0,0,1-.369.406c0,.148,0,.258-.111.258a5.7,5.7,0,0,0-.59.664c.148.111-.406.406-.3.406a.621.621,0,0,0-.3.516c-.148,0-.258,0-.258.111v.184c-.074.111-.111.074-.3.148-1,1.144-2.472,1.586-3.468,2.73-.258.111-.516.258-.811.369-.258.111-.185.516-.406.369,0-.148-.332.111-.48.111-.3.258-.7.074-.959.037,0-.148-.148-.111-.258-.258l-.148.111c-.111-.148-.406-.406-.516-.406-.111-.148.148-.258,0-.3l.148-.111c0-.148-.184-.148-.332-.184-.221-.3.258-.074.148-.332l-.517-.037c-.111-.258-.369-.258-.48-.553.037-.258.59-.258.627-.516.258,0,.184-.037.443-.148L182,74.635c.258-.111.221-.369.369-.332,0,.148.111,0,.221,0s.258,0,.258-.111a.615.615,0,0,1,.148-.406h.258a5.491,5.491,0,0,0,.775-.812.547.547,0,0,1,.037-.258c.148-.111.148-.406.443-.516,0,.148-.037.258.111.258.406-.258.185-.406.074-.664a1.844,1.844,0,0,0,.3-.258c0,.148.221.037.074.037,0,.148.148-.3.258-.3.332-.48.074.074.553-.812.111-.111.332-.184.369-.258-.037,0,.3-.148.184-.258,0-.111.037-.148-.221-.037.148-.258.59-.664.627-.922.369.148.074-.443.332-.443-.148.111-.258-.148-.258,0h.443c.3-.258-.406-.221-.148-.516,0-.148-.037-.221-.184-.184,0-.148-.037-.258.111-.258l.148.111c.111-.148-.111-.59.148-.738v-.406c.369-.3.221-.221.332-.627l-.148-.111c0,.111.258-.111.148-.111V65.45c.258-.148.443-1.033.406-1.291,0,.258-.3-.59-.037-.48.369-.553.111-1.291.184-1.955-.258-.111.221-.3.074-.553-.111,0-.258.037-.258-.111l.221-.3c0-.148-.037-.258-.148-.258,0-.148-.037-.258.111-.3,0-.148-.037-.258-.148-.258l.221-.3c0-.148-.148-.111-.258-.111.074-.553-.48-.959-.258-1.512-.111,0-.148-.111-.148-.258.332-.443-.111-.959.074-1.4-.258-.111-.184-.369-.184-.664.111-.148-.221-.3-.221-.406a9.96,9.96,0,0,1-.443-1.808c-.258.221-.443-1.844-.664-2.656-.332-.516-.111-1.107-.3-1.623.148,0,.258-.037.258-.184-.185-.406.221-.59.3-1.033.3-.037.553-.221.848.037.258-.184.111-.443.074-.553.553-.074.959-.111,1.512-.184,0,.148.037.258.184.258.406-.037.59.221,1,.148,0,.148.037.3.184.258a.7.7,0,0,1,.59.221c.148,0,.258-.037.258-.184l.148.111.111-.148a.43.43,0,0,0,.406.074c.148.111.184.516.443.369A28.7,28.7,0,0,0,194.059,51.542Z' transform='translate(-114.193 -29.718)' fill='%23fff'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M48.629,40.661c-.037-.221-.369-.3-.48-.3-.148,0-.369.258-.516.074a2.181,2.181,0,0,1-.48.553,1,1,0,0,1-.443.111c-.074.332-.111.369.184,1.18.148.037.3.775.406.812-.074-.3.406.627.553.775a.4.4,0,0,0,.184.037c.074.037.037.111,0,.184l.406.3c.037.111.111.148.037.3a2.459,2.459,0,0,1,.775.332c.074.037.037.111,0,.184.074.037.184.074.221,0,.221,0,.074.221.111.332l.148-.037c.037.111.221.184.221.184.258.406,1.623.922,1.955,1.291l.148-.074c.111.221.7.258.7.553l.111-.074c.074.111.959.258,1.18.406.111-.074-.037-.221.074-.258.148.111.443.406.59.553a5.522,5.522,0,0,1,.664.111c.332.369,1.07.148,1.476.332.074.111.148.111.221.148l.148-.074.037.111c.258-.148.406,0,.59-.148l.037.111.148-.074a.623.623,0,0,0,.111.221c.369.074.7.258,1.07.037a.229.229,0,0,0,.221.148,1.6,1.6,0,0,0,.258-.148c.258.074.332.184.627.148l.037.111a1.448,1.448,0,0,1,1.033-.074c.074-.184.258.074.369-.111l.037.111c.3-.221.775-.111,1.07-.111l.037.111c.148-.074.074,0,.074,0,.258-.111.922-.148,1.07-.3a1.233,1.233,0,0,0,.848.111c.111.037.3.074.406.111a1.017,1.017,0,0,1,1.107-.074,6.652,6.652,0,0,0,1.4-.59,1.141,1.141,0,0,0,.3.074c.148-.037.258-.037.332-.184a5.048,5.048,0,0,0,1.18-.59c.037.111.3-.111.369,0a.386.386,0,0,1,.111-.148c.184.074.369-.184.553-.148a.386.386,0,0,1,.111-.148c.3-.111.184-.184.48-.3.258-.184.627-.775,1.217-1.033,0-.184.369-.3.443-.48.037-.074.148-.074.258-.037l-.074-.111c.148-.074.111-.332.258-.221.037-.074.221-.3.111-.332.3-.221.3-.959.7-1.07a.946.946,0,0,0,.074-.184c.184-.221.111-.664.184-.7.037-.074,0-.148.074-.111.111-.332.184-.848.3-1.328-.074-.037-.037-.111,0-.184.074,0,.111-.074.148-.148-.074-.037-.037-.111,0-.184l.111-.074c-.184-.037.037-.258-.148-.3l.111-.074c-.148-.406.074-.848-.074-1.254l.111-.074a.561.561,0,0,1,0-.738c-.074-.111-.037-.184,0-.3-.221-.148.037-.3-.111-.443.074-.258-.221-.516-.037-.775l-.258-.516c.037-.074.037-.184.074-.258-.074,0-.184-.037-.148-.111.148-.148,0-.3.037-.48-.184-.037-.074-.184-.148-.3a2.3,2.3,0,0,0-.48-1.254c.111-.184-.111-.885-.111-1.107l-.184-.074a.878.878,0,0,0-.332-.48v-.221c-.074,0-.184,0-.184-.111v-.221l-.111.111a.526.526,0,0,1-.221-.553c-.332-.443-.443-.775-.922-1.439-.184.111,0-.332-.221-.258a2.97,2.97,0,0,0-.775-1.07.468.468,0,0,1,.037-.221h-.184c-.111,0-.074-.111-.074-.221-.59-.369-2.619-.627-2.951-1.217-.184,0-.369-.111-.443.111l-.148-.221c-.48.332-.885-.258-1.328-.369l-.111.111c-.148-.332-.443,0-.627,0a.275.275,0,0,0-.258-.111c-.48.221-.885-.037-1.328.516l-.074-.111,1.033,1.918a7.734,7.734,0,0,0,.516,1.881.565.565,0,0,1,.258.369.468.468,0,0,0-.037.221c.148.258.258.48.406.738-.074,0-.111.074-.148.184.111.369.111.738.221,1.07.148.111-.037.184.148.369l-.074.221a.458.458,0,0,0,.037.369c.037.369.037.074.3.332-.258.3.184.775-.074,1.07.148.148.148-.074.184.037l-.074.148c-.037.074.037.111.111.148.074.221-.074.332.037.553.074.037,0,.3.111.3.037.184.258.258.037.406-.074-.037-.037.369-.111.627a1.747,1.747,0,0,1-.037.627c.074,0,.148-.074.111,0a.947.947,0,0,0-.074.184c.074,0,.074.184.037.258,0,.258-.184.406-.258.664-.111.553.184,1-.184,1.217.148.111-.037.258-.074.369-.111.074-.111.332-.221.406a5.573,5.573,0,0,0-.332.664c-.221.148-.258.3-.48.406a.945.945,0,0,0-.074.184c-.037.074-.111.074-.184.037-.148.148-.664.406-.738.553l.037.111a2.749,2.749,0,0,0-.738.369c-.221.184-.48.184-.812.369-.3-.074-.59.148-.885.037a3.428,3.428,0,0,1-.369.184c-.148-.037-.406.074-.516-.037-.148-.037-.111.258-.3.221a.222.222,0,0,0-.148-.037v-.148c-.221.111-.443-.037-.664.111l-.037-.111c-.221.111-.443,0-.59.148a1.658,1.658,0,0,0-1-.111c.037-.074-.037-.111-.111-.111l-.111.074c.037-.074-.664-.037-.738-.037l-.148-.037-.037-.111-.111.074c-.111-.111-.959-.184-1.18-.406-.148.148-.332.074-.48.037a7.382,7.382,0,0,1-1.771-.406l-.037-.111a.671.671,0,0,1-.812-.221.7.7,0,0,1-.3-.074c-.111-.221-.7-.184-.775-.406a2.716,2.716,0,0,1-.406-.369c-.184.111-.7-.48-.775-.48h-.332l-.111-.369-.443-.332C48.888,40.7,48.7,40.956,48.629,40.661Z' transform='translate(-29.41 -16.498)' fill='%23fff'/%3E%3Cpath id='패스_11' data-name='패스 11' d='M65.651,20.3h.369c.59.59,1.734.406,2.472.812.3-.221.627-.074.922-.184a.978.978,0,0,1,.184.221c.664-.184,1.033.148,1.66.111a1.3,1.3,0,0,1,.3-.184c.111,0,.221.037.221.148l.148-.111L72,21.22l.148-.111c-.037.111.074.111.184.148.3-.184.48.074.848-.221a.36.36,0,0,0,.332.148c.369-.3.48,0,.922-.111l.074.148.148-.074L74.615,21c.037-.111.148-.074.258-.037.184.148.332.406.664.258l.074.148c.184-.148-1.365-.221,1.07-.3a2.926,2.926,0,0,1,.332-.148c.074.148.184.148.3.184.3-.148.59-.184.885-.332.111.037.3.184.48.037l.074.111c.258-.037.627-.037.922-.074-.037.111-.184-.148-.074-.111.369-.184.775-.406,1.144-.148.406-.037.59-.258,1.033-.3.148.184.48-.184.664-.074s.221-.184.332.037l.037.148a.314.314,0,0,0,.111-.184.465.465,0,0,0,.48-.111c.111.074.184.111.258.037.221-.074.443-.074.738-.148.037.148.258-.074.221.037a.643.643,0,0,1,.516.037c.074-.074.111-.184.221-.111l.111.074c.111,0,.111-.037.258-.148,1.328-.111,2.029-.775,3.357-.775a4,4,0,0,1,.7-.3c.221-.111.443.184.48-.074-.074-.074.258-.148.332-.221.332-.037.516-.59.664-.775-.111-.074,0-.148-.037-.3l.148-.037a2.379,2.379,0,0,1,0-.885c-.037-.148-.258-.074-.184-.148l-.074-.111c-.074-.074.037-.221.111-.3-.074-.3-.332.037-.48-.184l.221-.369c-.111-.221-.59-.332-.775-.48-.148.184-.111.111-.332.221l-.074-.148c-.221.111-.369-.037-.406.074.111.074-.074.037-.111.148-.074.074-.148.184-.221.111a.515.515,0,0,0-.332-.111.314.314,0,0,0-.111.184,5.31,5.31,0,0,1-2.213-.037c-.148.037-.148.037-.332.074.111.037-.074.184-.037.074.111.037-.3-.037-.332.037-.516,0-1.623.111-1.4-.037a4.33,4.33,0,0,1-.959.037c-.074.332-.443-.184-.516,0,.148-.037-.184-.074-.111,0v.148c-.332.111-.332-.184-.664-.074-.111-.037-.148-.111-.111-.184-.111-.037-.184-.111-.221,0l.037.148c-.148.074-.443-.258-.627-.111l-.332-.111a2.53,2.53,0,0,1-1.144.221l-.074-.111c.111.037-.184.184-.148.111a.468.468,0,0,0-.221-.037,1.961,1.961,0,0,1-1.217.111c.221.037-.443-.406-.406-.148-.553.221-1.217-.111-1.808-.111-.037-.221-.3.148-.48,0,.037-.111.074-.221-.037-.221-.148.074-.258.037-.406.148-.111,0-.221-.037-.184-.111-.111,0-.221-.037-.258.074-.111,0-.221-.037-.184-.148a3.076,3.076,0,0,0-.443.3c-.111,0-.074-.111-.074-.221-.48.074-.775-.369-1.291-.221.037-.111-.074-.111-.184-.111-.443.3-1.033-.037-1.439.184-.074-.221-.332-.111-.553-.111-.148.111-.221-.148-.332-.148a7.135,7.135,0,0,0-1.549-.221c.221-.221-1.586-.221-2.287-.369-.443-.221-.959,0-1.439-.148-.037.111-.037.221-.184.221-.332-.111-.553.221-.922.332-.037.221-.3.332-.221.516-.184.221-.184.258-.3.258-.111.443-.184.406-.3.848.111,0,.258,0,.221.111-.074.332.111.48.037.812.111,0,.258,0,.221.111-.074.221.037.332.111.48-.037.111-.074.221-.184.221l.074.111h-.258a.359.359,0,0,1,.037.332c.111.111.443.148.258.369A23.765,23.765,0,0,0,65.651,20.3Z' transform='translate(-39.534 -8.923)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center / 100% auto;
                        width:122px;
                        height:49px;
                        margin:135px auto 20px;
                    }
                }

                ul.util-menu {
                    .absolute;
                    right:0;
                    top:20px;
                    .no-list;
                    .mapazero;

                    li {
                        .inline-block;
                        margin-left:6px;
                        .top;

                        a,
                        button {
                            .block;
                            .mapazero;
                            color:#fff;
                            border:1px solid #fff;
                            background:none;
                            height:42px;
                            line-height:42px;
                            padding:0 20px;
                            border-radius:21px;
                            font-size:18px;

                            &:hover {
                                background:#fff;
                                color:#333;
                            }
                        }
                    }
                }

                p.attention {
                    font-size:24px;
                    color:#fff;
                    margin:20px 0 42px;
                }

                ul.links {
                    padding:0;
                    margin:0 auto;
                    .no-list;
                    .zero;
                    width:964px;

                    &>li {
                        .inline-block;
                        .top;
                        font-size:15px;
                        width:280px;
                        height:290px;
                        margin:0 62px 62px 0;
                        .hidden;

                        &:nth-child(3n) {
                            margin-right:0;
                        }

                        &:nth-child(1) {
                            background:url("../images/intro-01.svg") no-repeat #F7B900 center top / 100% auto;
                        }

                        &:nth-child(2) {
                            background:url("../images/intro-02.svg") no-repeat #B5945E center top / 100% auto;
                        }

                        &:nth-child(3) {
                            background:url("../images/intro-03.svg") no-repeat #91BC00  center top / 100% auto;
                        }

                        &:nth-child(4) {
                            background:url("../images/intro-04.svg") no-repeat #00C2E8 center top / 100% auto;
                        }

                        &:nth-child(5) {
                            background:url("../images/intro-05.svg") no-repeat #6464FF center top / 100% auto;
                        }

                        &:nth-child(6) {
                            background:url("../images/intro-06.svg") no-repeat #FF7F00 center top / 100% auto;
                        }

                        h2 {
                            margin:0;
                            height:60px;
                            line-height:60px;
                            background:#fff;
                            margin-top:230px;
                            font-size:26px;
                            .normal;  
                            .opacity(0.98);
                            .ani();

                            a {
                                .relative;
                                padding-right:0;
                                .ani();
                                i {
                                    .absolute;
                                    .inline-block;
                                    right:0;
                                    top:-2px;
                                    .none;
                                    width:0;
                                    .hidden;
                                    font-size:20px;
                                    .ani();
                                }
                                &:hover {
                                    font-weight:600;
                                    .ani();
                                    i {
                                        .inline-block;
                                        width:30px;
                                        .ani();
                                    }
                                }
                            }
                        }

                        ul {
                            .inline-block;
                            width:100%;
                            .opacity(0.95);
                            background:#fff;
                            min-height:270px;
                            .no-list;
                            margin:0;
                            .left;
                            padding:0 30px;

                            li {
                                a {
                                    color:#666;
                                    .relative;
                                    .block;
                                    padding:2px 0;
                                    margin:2px 0;
                                    border-bottom:1px solid transparent;

                                    &::before {
                                        content:"·";
                                        padding:0 4px 0 0;
                                    }

                                    i {
                                        .none;
                                        .absolute;
                                        right:0;
                                        top:6px;
                                        font-size:12px;
                                        color:#B8B8B8;
                                    }

                                    &:hover {
                                        color:#222;
                                        border-color:#222;

                                        i {
                                            .block;
                                        }
                                    }
                                }
                            }
                        }

                        &.open {
                            h2 {
                                margin-top:10px;
                                padding-top:14px;
                                line-height:38px;
                                height:60px;
                                .opacity(0.95);
                                font-size:28px;
                                .ani();
                            }


                            &:nth-child(1) {
                                h2 {
                                    a {
                                        color:#D8A200;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                h2 {
                                    a {
                                        color:#B5945E;
                                    }
                                }
                            }
    
                            &:nth-child(3) {
                                h2 {
                                    a {
                                        color:#91BC00;
                                    }
                                }
                            }
    
                            &:nth-child(4) {
                                h2 {
                                    a {
                                        color:#327FB9;
                                    }
                                }
                            }
    
                            &:nth-child(5) {
                                h2 {
                                    a {
                                        color:#B9A010;
                                    }
                                }
                            }
    
                            &:nth-child(6) {
                                h2 {
                                    a {
                                        color:#39A8B4;
                                    }
                                }
                            }
    
    

                        }
                    }
                }
            }
        }
    }
}
  
body.layout {
    min-width:1200px;

    .container {
        .container(100%);
        padding: 0;
    }

    /* header */
    header {
        .zero;
        .relative;
        height:50px;



        &.theme01 {
            background:#D8A200;
        }
        &.theme02 {
            background:#B5945E;
        }
        &.theme03 {
            background:#91BC00;
        }
        &.theme04 {
            background:#327FB9;
        }
        &.theme05 {
            background:#B9A010;
        }
        &.theme06 {
            background:#39A8B4;
        }



        h1  {
            .absolute;
            left:0;
            top:0;
            width:64px;
            height:100px;
            z-index:1000;
            .inline-block;
            .mapazero;
            .center;
            font-size:15px;
            color:@white;




            &.theme01 {
                background:#D8A200;
            }
            &.theme02 {
                background:#B5945E;
            }
            &.theme03 {
                background:#91BC00;
            }
            &.theme04 {
                background:#327FB9;
            }
            &.theme05 {
                background:#B9A010;
            }
            &.theme06 {
                background:#39A8B4;
            }
    

                small {
                    .block;
                    margin:24px auto 0;
                    .zero;
                    width:50px;
                    height:28px;
                    background:url("../images/logo.svg") no-repeat center / 100% auto;
                }
            }

            div.util {
                .inline-block;
                .absolute;
                z-index:1100;
                right:10px;
                top:12px;
            }
            button.all-menu,
            a.util {
                display:inline-block;
                background:none;
                border:1px solid rgba(0,0,0,0.4);
                padding:7px 20px;
                margin-right:4px;
                border-radius:12px;
                .pointer;
                font-size:17px;
                color:#222;
                background:#fff;
                
                .drop-shadow (@x:0, @y: 1px, @blur: 3px, @spread: 0, @alpha: 0.25);

                i {
                    margin-right:4px;
                }

            }

            nav#main-menu {
                .relative;
                margin-left:64px;
                z-index:900;
                background:#fff;
                height:42px;

                &::before {
                    content:"";
                    .block;
                    .absolute;
                    left:0;
                    right:0;
                    top:42px;
                    bottom:0;
                    background:#222;
                }
                
                &>ul {
                    .mapazero;
                    .no-list;
                    display:flex;
                    width:100%;
                    line-height:42px;

                    &>li {
                        .top;
                        .relative;
                        // flex-grow:1;


                        &>a {
                            .block;
                            .center;
                            font-size:16px;
                            color:#222;
                            font-weight:800;
                            padding:0 30px;

                            &:hover {
                                background:#eee;
                            }
                        }

                        ul {
                            display:none;
                        }

                        &.active {

                            ul {
                                display:block;
                                .no-list;
                                margin:0;
                                padding:30px 30px 16px;
                                min-width:220px;
                                position:absolute;
                                z-index:1200;
                                background:#222;
                                border-radius:0 12px 12px 12px;
                                .drop-shadow (@x:5px, @y: 5px, @blur: 3px, @spread: 0, @alpha: 0.2);

                                li {
                                    line-height:1.4;
                                    a {
                                        display:block;
                                        margin-bottom:14px;
                                        font-size:14px;
                                        color:#fff;
                                        word-break:keep-all;

                                        &:hover {
                                            color:#B5945E;
                                            text-decoration:underline;
                                        }

                                    }
                                }
                            }
                        }


                    }
                }

            }

            div.navigation {
                .relative;
                .inline-block;
                .top;
                background:#eeeeee;
                width:100%;
                height:57px;
                padding:0 0 0 90px;
                .drop-shadow (@x:0, @y: 1px, @blur: 6px, @spread: 0, @alpha: 0.25);
                

                ul {
                    .inline-block;
                    .relative;
                    .mapazero;
                    .no-list;
                    .zero;
                    z-index:10;

                    li {
                        .inline-block;
                        line-height:1;
                        .relative;
                        .top;
                        line-height:57px;
                        padding:0 30px 0 0;
                        color:#222;
                        font-weight:700;

                        a {
                            color:#222;
                        }

                        &>i {
                            font-size:22px;
                            .absolute;
                            right: 6px;
                            top:18px;
                            color:#666;
                            .opacity(0.6);
                        }

                        &.home {
                            a {

                                i {
                                    position:relative;
                                    top:10px;
                                    font-size:22px;
                                }
                            }


                        }

                        &.depth1 {
                            font-size:22px;
                        }

                        &.depth2 {
                            font-size:22px;
                        }

                        &:last-child {
                            i {
                                .none;
                            }
                        }
                    }
                }
            }


    }


    div#content {

        margin-top:50px;
        background:#555;
        .zero;


        fieldset.tools {
            .absolute;
            right:5px;
            top:4px;
            line-height:1;
            .mapazero;
            border:none;
            .right;
            font-size:14px;

            input,
            button {
                border:1px solid #ccc;
                border-radius:5px;
                height:30px;
                padding:0 5px;
                .relative;
                
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    .absolute;
                    right:20px;
                    top:8px;
                }
            }

           
            button {
                background:#f4f4f4;

                &.submit {
                    border:1px solid #333;
                    background:#555;
                    color:#fff;
                }

                i {
                    margin-right:4px;

                    &.icon-file-pdf {
                        color:red;
                    }

                    &.icon-doc-text {
                        color:#0075bc;
                    }
                }
            }

            div {
                .inline-block;
            }

            u {
                text-decoration:none;
                line-height:36px;
                padding:0 5px;
            }


        }
        aside {
            .inline-block;
            width:64px;
            font-size:14px;

            ul.depth0 {
                .inline-block;
                .mapazero;
                .no-list;
                width:100%;

                li {
                    .relative;

                    a {
                        .block;
                        .center;
                        padding:20px 0;
                        height:108px;
                        color:#ccc;

                        i {
                            .block;
                            color:#aaa;
                            font-size:32px;
                            width:100%;
                            margin:0 0 10px;
                        }

                        &:hover,
                        &.active {
                            background:#222;
                            color:@white;

                            i {
                                color:#fff;
                            }
                        }


                    }

                    p {
                        display:none;
                        position:absolute;
                        margin:0;
                        left:75px;
                        top:50%;
                        width:280px;
                        z-index:1000;
                        background:rgba(0,0,0,.9);
                        border-radius:10px;
                        padding:20px;
                        color:#fff;
                        transform:translateY(-50%);
                        word-break:keep-all;
                        .drop-shadow (@x:0, @y: 10px, @blur: 26px, @spread: 0, @alpha: 0.6);
                        border-bottom:2px solid #000;

                        &::before {
                            content:"";
                            display:block;
                            position:absolute;
                            width:0;
                            height:0;
                            border:10px solid transparent;
                            border-right-color:rgba(0,0,0,.9);
                            left:-20px;
                            top:50%;
                            transform:translateY(-50%);
                        }
                    }

                    a:hover + p {
                        display:block;
                    }


                }
            }
        }

        section.data {
            .inline-block;
            .top;
            background:#cfcfcf;
            width:calc(~"100% - 64px");
            min-height:calc(~"100vh - 100px");
            padding: 10px 20px;

            div.infotext {
                .left;
                word-break:keep-all;
                line-height:1.6;
                font-size:16px;
                margin:0 0 5px;
                padding:2px 440px 2px 0;
                color:#222;
                line-height:30px;
            }

            div.content {
                background:@white;
                padding:20px;
                font-size:14px;
                border-radius:10px;
                margin:0 5px 20px;
                min-height:300px;
                .drop-shadow (@x:0, @y: 4px, @blur: 16px, @spread: 0, @alpha: 0.25);
            }



            p.copyright {
                font-size:14px;
            }
        }

    }

}

body.error_page {
    background: #f3f4f3;
    .flex;
    .absolute;
    .full-position;

    #content {
        width: 100%;

        div.icon {
            .center;
            
            
            i {
                font-size: 50px;
                color: #b9b9b9;

                &.icon-icon01 {
                    color: #0073bd;
                }
            }
        }

        h1 {
            font-size: 46px;
            .center;
        }

        h3 {
            .center;
            font-size: 18px;
            line-height: 30px;
            margin: 0;
        }

        h5 {
            margin: 30px 0 15px 0;
            .center;

            &:before {
                content:"";
                .inline-block;
                .zero;
                background:url("../images/logo2.png") no-repeat center / 100% auto;
                width:280px;
                height:72px;
                margin: 0 auto 0;
            }
        }

        button {
            .block;
            width: 300px;
            height: 60px;
            margin: 0 auto;
            border: none;
            border-radius: 5px;
            .gradient(#138bc9, #117cc1, #0f6db9);
            color: @white;
            font-size: 18px;
            .inner-shadow(0,-1px, 1px, 1px, 0.2);
            .pointer;
        }
    }
}


